# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Coverage data
.coverage
htmlcov/

# Pytest cache
.pytest_cache/

# Mypy cache
.mypy_cache/

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Environment variables
.env

# Editor files
.vscode/
.idea/

# Miscellaneous
*.log
*.swp
.DS_Store
